@import "~src/framework";

.blocky {
  position: absolute;
  left: 2*$gapBase;
  top: 2*$gapBase;
  bottom: 2*$gapBase;
  right: 2*$gapBase;
  background-color: white;
  z-index: 10000;
  border: 1px solid $colorGreyLight;

  .actions-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    z-index: 10;
    padding: $gapBase;
  }

  .close, .apply {
    padding-left: $gapBase/2;
    cursor: pointer;

    @include text('h2');
  }

  .blockly-div {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
