<div class="app-wrapper">
  <div class="settings-wrapper" #childComponentsContainer>
    <apm-c-list class="section" [ngStyle]="{'display': isComponentListDisplayed ? 'block' : 'none'}"></apm-c-list>
    <div class="section store-properties" [ngStyle]="{'display': isPropertyListDisplayed ? 'block' : 'none'}">
      <ng-container #apmCPropertyListContainer></ng-container>
    </div>

    <mat-button-toggle-group #group="matButtonToggleGroup" class="switchers-wrapper" (change)="isComponentListDisplayed = false; isPropertyListDisplayed = false">
      <mat-button-toggle color="accent" aria-label="Component List" (change)="isComponentListDisplayed = $event.source.checked">
        <mat-icon>list</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle color="accent" aria-label="Properties" (change)="isPropertyListDisplayed = $event.source.checked">
        <mat-icon>drag_indicator</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <ng-container class="section" #apmCArtboard></ng-container>
</div>
<ng-container #apmCBlockyContainer></ng-container>
<ng-container #childComponentsContainer></ng-container>
