:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #edeef0;
}

.top-toolbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .artboard-style-changer {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    button {
      opacity: 0.54;
    }
    button.active {
      opacity: 1;
    }
  }
}