<div #componentList class="component-list">
    <mat-toolbar class="toolbar" color="primary" amDraggable [amDraggable_El]="componentList" [amDraggable_ChangeLocation]="true">
        Компоненты
    </mat-toolbar>

    <div class="component-preview-wrapper">
        <div class="component-preview component-preview-flexbox" amDraggable [amDraggable_DragScope]="'component'"
             [amDraggable_ComponentCode]="flexBoxComponent_name" [amDraggable_ChangeLocation]="false">
        </div>

        <div class="component-preview component-preview-flexbox" amDraggable [amDraggable_DragScope]="'component'"
             [amDraggable_ComponentCode]="flexBoxComponent_name" [amDraggable_ChangeLocation]="false">
        </div>
    </div>
</div>

<am-component-property #componentProperty class="component-property">
</am-component-property>

<mat-toolbar class="top-toolbar" color="primary">
    <div class="artboard-style-changer">
        <button mat-icon-button [class.active]="artboardFormat === 'desktop'" (click)="changeArtboardFormat('desktop')">
            <mat-icon aria-label="Example icon-button with a heart icon">desktop_mac</mat-icon>
        </button>
        <button mat-icon-button [class.active]="artboardFormat === 'tablet'" (click)="changeArtboardFormat('tablet')">
            <mat-icon aria-label="Example icon-button with a heart icon">tablet_mac</mat-icon>
        </button>
        <button mat-icon-button [class.active]="artboardFormat === 'mobile'" (click)="changeArtboardFormat('mobile')">
            <mat-icon aria-label="Example icon-button with a heart icon">phone_iphone</mat-icon>
        </button>
    </div>
</mat-toolbar>

<ng-container #artboarContainer></ng-container>
