@import "~src/framework";

:host(apm-root) {
  width: 100%;
  height: 100%;
  background-color: $colorBg1;

  .app-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    background-color: $colorBg1;

    .settings-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 14*$gapBase;
      background-color: white;
      z-index: 1000;
      border-right: 1px solid $colorGreyLight;

      .section {
        flex: 1;
      }
      .store-properties {
        padding: $gapBase;
      }

      .switchers-wrapper {
        margin: 0 auto;
        border: none;
      }
    }
  }
}
