@import "~src/framework";

:host(apm-component-list) {
  position: relative;
  width: 10*$gapBase;
  height: 100%;
  background-color: white;
  z-index: 1000;

  .component-list-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $gapBase;

    .component {
      height: 2*$gapBase;
      background-color: beige;
    }
  }
}
