.active {
  color: darkred;
}

.deminisions {

  input {
    width: 100px;
  }

  .param {
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
    align-items: center;
  }

  .input-wrapper {

    input {
      padding-right: 8px;
    }
    mat-icon.width {
      transform: rotate(90deg);
    }
  }
}

.param-box {
  padding-top: 8px;

  .row {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }
  .row:first-child {
    padding-top: 0;
  }
}
.param-box:first-child {
  padding-top: 0;
}