@import "~src/framework";

:host(apm-c-flexbox) {
  display: block;

  .flexbox-wrapper {
    position: relative;
    display: flex;
    width: 10*$gapBase;
    height: 2*$gapBase;
    border: 1px dotted $colorGreyLight;
  }
}
