$colorBg1: #f3f3f391;
$colorGreyLight: #e6e6e6;
$colorBlack1: #222;

//#region Size
$sizeLaptopL: 1440px;
$sizeLaptop: 1024px;
$sizeTablet: 768px;
$sizeMobileL: 425px;
$sizeMobileM: 375px;
$sizeMobileS: 320px;
//#endregion

$gapBase: 20px;

//#region Text
$textColorDefault: $colorBlack1;

$textSizes: (
  ascending: 12px,
  span: 14px,
  h1: 18px,
  h2: 24px
);

$textLineHeights: (
  ascending: 17px,
  span: 20px,
  h1: 25px,
  h2: 34px
);

$textLetterSpacings: (
  ascending: 1px,
  span: 1px,
  h1: 2px,
  h2: 3px
);

@mixin text($textType: 'span', $modifier: 'default', $margin: 'none') {
  color: $textColorDefault;
  font-size: map-get($textSizes, $textType);
  line-height: map-get($textLineHeights, $textType);
  letter-spacing: map-get($textLetterSpacings, $textType);

  @if ($textType == 'ascending') {
    color: lighten($textColorDefault, 30%);
  } @elseif ($textType == 'h1') {
    color: lighten($textColorDefault, 10%);
  } @elseif ($textType == 'h2') {
    color: lighten($textColorDefault, 20%);
  }

  @if ($modifier == 'bold') {
    font-weight: bold;
  }

  @if ($margin != 'none') {
    margin-#{$margin}: map-get($textLineHeights, $textType)*1;
  }
}
//#region

//#Element sizes
$elSizeSwitcher: 20px;
//#endregion
