@import '~reset-css/reset.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~src/framework';

body, html {
    width: 100%;
    height: 100%;

    * {
        box-sizing: border-box;
      color: $textColorDefault;
    }
}

.text {
  letter-spacing: $textLetterSpacing;
  color: $textColorDefault
}
