@import "~src/framework";

.settings-wrapper {
  position: relative;

  .settings-to-width-wrapper {
  }

  .settings-to-width-block {
    position: relative;
    margin-bottom: $gapBase;

    &:last-child {margin-bottom: 0;}

    .width {
      @include text('h2', 'bold');
      margin-top: $gapBase;
      margin-bottom: $gapBase/2;
    }

    .settings-wrapper {
    }
    .settings-block {
      position: relative;

      .value {
        width: 100%;
        @include text('span');
      }
    }
  }
}
