@import "~src/framework";

.settings-wrapper {
  position: relative;

  .settings-to-width-wrapper {
  }

  .settings-to-width-block {
    position: relative;

    &:last-child {margin-bottom: 0;}

    .width {
      @include text('h1');
    }

    .settings-wrapper {
    }
    .settings-block {
      position: relative;

      .value {
        width: 100%;
        @include text('span');
        margin-bottom: $gapBase/4;
      }
    }
  }

  .free-style-property-wrapper {
    position: relative;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    margin-top: $gapBase/4;

    .property-name {
      width: 100px;
      margin-right: $gapBase/2;
    }
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
  }
}
