@import '~src/framework';

#sci-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header {
  position: relative;
  height: 3*$gapBase;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  .action-btn-wrapper {
    margin: 0 $gapBase;

    .action {
      //@include text('span');
      letter-spacing: map-get($textLetterSpacings, 'h1');
    }
  }
}

.editorPanel{
  display: block;
  position: relative;
  height: calc(100% - 3*#{$gapBase});
  width: 100%;
  background-color: #1b1b1b;
}
.editorPanel .customMonacoEditor { /*set automaticLayout*/
  height: 100%;
}
