@import '~src/framework';

#sci-preview-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

#sci-wrapper {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  height: 3*$gapBase;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: $colorBg1;

  .action-btn-wrapper {
    margin: 0 $gapBase;

    .action {
      //@include text('span');
      letter-spacing: map-get($textLetterSpacings, 'h1');
    }
  }
}

.editorPanel{
  display: block;
  position: relative;
  height: calc(100% - 3*#{$gapBase});
  width: 100%;
  background-color: #1b1b1b;
}
.editorPanel .customMonacoEditor { /*set automaticLayout*/
  height: 100%;
}
